<div class="row">
    <h1>Hard & soft skills</h1>

    <div text center class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="50"
  [radius]="100"
  [imageSrc]="'../assets/html.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#254062'"
  [innerStrokeColor]="'#AAAAAA'"
  [animation]="true"
  [animationDuration]="650"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [imageSrc]="'../assets/js.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#254062'"
    [innerStrokeColor]="'#AAAAAA'"
    [animation]="true"
    [animationDuration]="650"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="50"
      [radius]="100"
      [imageSrc]="'../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#254062'"
      [innerStrokeColor]="'#AAAAAA'"
      [animation]="true"
      [animationDuration]="650"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [imageSrc]="'../assets/angular.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#254062'"
        [innerStrokeColor]="'#AAAAAA'"
        [animation]="true"
        [animationDuration]="650"
          ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="50"
          [radius]="100"
          [imageSrc]="'../assets/ps.png'"
          [showImage]="true"
          [imageHeight]="90"
          [imageWidth]="90"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#254062'"
          [innerStrokeColor]="'#AAAAAA'"
          [animation]="true"
          [animationDuration]="650"
            ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">

            <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/ai.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#254062'"
            [innerStrokeColor]="'#AAAAAA'"
            [animation]="true"
            [animationDuration]="650"
              ></circle-progress>
    </div>
</div>
