<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Emilio lamarca</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit deserunt consectetur officiis quia quam, nulla libero quasi totam aliquam recusandae distinctio aut dolorem corporis velit dolor nisi asperiores pariatur non?</p>
        </ul>

        <ul>
            <li>
                <h1>Davinci</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nihil in aliquam repellat consectetur similique sunt qui minima culpa est vel quibusdam praesentium laudantium iusto expedita, id mollitia aspernatur ipsam.</p>
        </ul>

        <ul>
            <li>
                <h1>ITCA</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsam doloremque architecto fugiat deleniti inventore sapiente accusantium, necessitatibus sunt voluptas? Voluptate dolores fuga provident tempora reprehenderit itaque commodi, sequi vitae!</p>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>