<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      
        <ul>
           
            <li><h2>Primer trabajo</h2> - <h3>(años)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit deserunt consectetur officiis quia quam, nulla libero quasi totam aliquam recusandae distinctio aut dolorem corporis velit dolor nisi asperiores pariatur non?
            </p>
        
        </ul>
        <ul>
            <li><h2>segundo trabajo</h2> - <h3>(años)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit deserunt consectetur officiis quia quam, nulla libero quasi totam aliquam recusandae distinctio aut dolorem corporis velit dolor nisi asperiores pariatur non?
            </p>
        </ul>

        <ul>
            <li><h2>tercer trabajo</h2> - <h3>(años)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit deserunt consectetur officiis quia quam, nulla libero quasi totam aliquam recusandae distinctio aut dolorem corporis velit dolor nisi asperiores pariatur non?
            </p>
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>