.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP{
    margin-top: 3px;
    margin-left: 20px;
    width: 150px;

}

img{
    width: 40px;
    margin: 5px;
}

.redes{
    margin-right: 0.8em;
}
.btn{
    border-width: small;
}

/*--- para el celu ---*/
@media(max-width:575px){
    .container{
        flex-direction: row;
    }
    .redes{
        display: flex;
        flex-direction:row;
        align-items: center;
    }
}
