<div id="myCarousel" class="carousel slide carousel-fade " data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="500">
      <div class="overlay-image" style="background-image:url(../../../assets/img1.JPG) "></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Bienvenidos a mi Portfolio</h5>
        <p>Daremos un recorrido por mi trayectoria laboral y mis conocimientos aprendidos</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="500" >
     <div class="overlay-image" style="background-image:url(../../../assets/img2.jpg) "></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="500" >
      <div class="overlay-image" style="background-image:url(../../../assets/img4.jpg) "></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>